<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">home</a>
    <form action="<%- folderID %>/newFile" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button>Submit</button>
    </form>

    <% for(const file of files){ %>
        <div class="file">
            <a target="_blank" href=<%-file.url %> > <%- file.fileName %></a>
            <a href="/<%- folderID %>/<%- file.id %>/delete">delete</a>
        </div>
    <%} %>
</body>
</html>