<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">home</a>
    <form action="<%- folderID %>/newFile" method="post">
        <input type="text" name="fileName" placeholder="File Name">
        <button>New File</button>
    </form>

    <% for(const file of files){ %>
        <div class="file">
            <a href="/<%- folderID %>/<%- file.id %>"><%- file.name %></a>
            <a href="/<%- folderID %>/<%- file.id %>/delete">delete</a>
        </div>
    <%} %>
</body>
</html>